body {
	margin: 0;
	color: #6a6f8c;
	background: #c8c8c8;
	font: 600 16px/18px 'Open Sans', sans-serif;
}

*, :after, :before {
	box-sizing: border-box
}

.clearfix:after, .clearfix:before {
	content: '';
	display: table
}

.clearfix:after {
	clear: both;
	display: block
}


a {
	color: inherit;
	text-decoration: none
}

.wrap {
	width: 100%;
	margin: auto;
	position: relative;
	background:
		url(https://media.glassdoor.com/l/06/d3/05/69/coviam-2nd-office-inside-views.jpg)
		no-repeat center;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0
		rgba(0, 0, 0, .19);
}

.html {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 90px 70px 50px 70px;
	background: rgba(40, 57, 101, .9);
}

.form {
		min-height: 345px;
		position: relative;
		-webkit-perspective: 1000px;
		perspective: 1000px;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	.form .group {
		margin-bottom: 15px;
	}
	.form .group .label, .form .group .input, .form .group .button {
		width: 100%;
		color: #fff;
		display: block;
	}
	.form .group .input, .form .group .button {
		border: none;
		padding: 15px 20px;
		border-radius: 25px;
		background: rgba(255, 255, 255, .1);
	}
	.form .group .label {
		color: #aaa;
		font-size: 12px;
	}
	.form .group .button {
		background: #1161ee;
	}
	.form .group label .icon {
		width: 15px;
		height: 15px;
		border-radius: 2px;
		position: relative;
		display: inline-block;
		background: rgba(255, 255, 255, .1);
	}
	.form .group label .icon:before, .form .group label .icon:after {
		content: '';
		width: 10px;
		height: 2px;
		background: #fff;
		position: absolute;
		-webkit-transition: all .2s ease-in-out 0s;
		transition: all .2s ease-in-out 0s;
	}
	.form .group label .icon:before {
		left: 3px;
		width: 5px;
		bottom: 6px;
		-webkit-transform: scale(0) rotate(0);
		transform: scale(0) rotate(0);
	}
	.form .group label .icon:after {
		top: 6px;
		right: 0;
		-webkit-transform: scale(0) rotate(0);
		transform: scale(0) rotate(0);
	}

.header {
	background-color: #adafaf;
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

img {
	border-radius: 50%;
	height: 60px;
	width: 60px;
}

.table-users {
	border: 0px solid #94a6ab;
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	max-width: calc(100% - 2em);
	margin: 1em auto;
	overflow: hidden;
	width: 800px;
}

table {
	width: 100%;
}

table td, table th {
	color: #00000;
	padding: 10px;
}

table td {
	text-align: center;
	vertical-align: middle;
}

table td:last-child {
	font-size: 0.95em;
	line-height: 1.4;
	text-align: left;
}

table th {
	background-color: #c9cfd4;
	font-weight: 300;
}

table tr:nth-child(2n) {
	background-color: white;
}

table tr:nth-child(2n+1) {
	background-color: #b5bcbe;
}

@media screen and (max-width: 700px) {
	table, tr, td {
		display: block;
	}
	td:first-child {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 100px;
	}
	td:not (:first-child ) {
		clear: both;
		margin-left: 100px;
		padding: 4px 20px 4px 90px;
		position: relative;
		text-align: left;
	}
	td:not (:first-child ):before {
		color: #b5bdc1;
		content: '';
		display: block;
		left: 0;
		position: absolute;
	}
	td:nth-child(2):before {
		content: 'Name:';
	}
	td:nth-child(3):before {
		content: 'Email:';
	}
	td:nth-child(4):before {
		content: 'Phone:';
	}
	td:nth-child(5):before {
		content: 'Comments:';
	}
	tr {
		padding: 10px 0;
		position: relative;
	}
	tr:first-child {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.header {
		background-color: transparent;
		color: white;
		font-size: 2em;
		font-weight: 700;
		padding: 0;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	}
	td:first-child {
		background-color: #b8c3be;
		border-bottom: 1px solid #b3c4c5;
		border-radius: 10px 10px 0 0;
		position: relative;
		top: 0;
		-webkit-transform: translateY(0);
		transform: translateY(0);
		width: 100%;
	}
	td:not (:first-child ) {
		margin: 0;
		padding: 5px 1em;
		width: 100%;
	}
	td:not (:first-child ):before {
		font-size: .8em;
		padding-top: 0.3em;
		position: relative;
	}
	td:last-child {
		padding-bottom: 1rem !important;
	}
	tr {
		background-color: white !important;
		border: 1px solid #b4c0c6;
		border-radius: 10px;
		box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
		margin: 0.5rem 0;
		padding: 0;
	}
	.table-users {
		border: none;
		box-shadow: none;
		overflow: visible;
	}
	
}